/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  font-family: 'Montserrat', sans-serif;
  width: 60%;
  margin: auto;
}

.jumbo, div.left_cont, div.content, div.right_cont{
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

p{
  color: #B6B6B6
}


/* HEADER */
header{
  margin-bottom: 20px;
}

.logo{
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100px;
  width: 30%;
  border-right: 3px solid #F1F1F1;
}

/* Menu navigazione */
.menu{
  list-style: none;
  font-size: 25px;
  text-transform: uppercase;
  min-height: 50px;
  margin: 20px 0px;
}

li{
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
}

a{
  text-decoration: none;
  color: #9F9F9F;
}

a:visited{
  color: black;
}

a:hover{
  color: orangered;
}

/* Jumbotron */
.jumbo{
  min-height: 500px;
  background-image: url(../img/banner.jpg);
  margin-bottom: 40px;
}

.opacity_jumbo{
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  min-height: 500px;
  border-radius: 5px;
}

.opacity_jumbo span{
  display: inline-block;
  color: white;
  width: 50%;
  min-height: 500px;
  padding-left: 20px;
  padding-top: 15%;
  text-align: justify;
}

.jumbo_title{
  font-size: 35px;
  line-height: 40px;
}

/* MAIN */
/* Titolo */
.content_title{
  margin-bottom: 40px;
}

/* Dimensioni e posizionamento dei float all'interno del main */
section{
  width: 58%;
  margin: 0% 1%;
}

aside{
  width: 20%;
} 

aside, section{
  min-height: 300px;
  float: left;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Immagini nel main */
div.left_cont{
  background-image: url(../img/img-1.jpg);
}

div.content{
  background-image: url(../img/banner-2.jpg);
}

div.right_cont{
  background-image: url(../img/img-3.jpg);
}

/* Opacità */
.secondary_op, .primary_op{
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  min-height: 300px;
  border-radius: 5px;
}

h4{
  line-height: 50px;
}


/* FOOTER */
footer{
  margin-top: 40px;
}
footer.container{
  margin-top: 5px;
  min-height: 30px;
}

.firma{
text-align: center;
}

/* Simbolo del Cuore */
.firma::after{
  content: "\2764";
  color: red;
}